@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Witaj w programie ToDoListApp</h2>
    <h1>Aby przejść do listy zadań zaloguj się lub zarejestruj</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
